/*
  CS Dept fonts.
*/

@font-face{
    font-family: 'Bree Serif';
    src: url('/font/breeserif-regular-webfont.eot');
    src: url('/font/breeserif-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/breeserif-regular-webfont.woff') format('woff'),
         url('/font/breeserif-regular-webfont.ttf') format('truetype'),
         url('/font/breeserif-regular-webfont.svg#webfont') format('svg');
}

@font-face{
    font-family: 'Open Sans';
    src: url('/font/opensans-regular-webfont.eot');
    src: url('/font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/opensans-regular-webfont.woff') format('woff'),
         url('/font/opensans-regular-webfont.ttf') format('truetype'),
         url('/font/opensans-regular-webfont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Open Sans';
    src: url('/font/opensans-bold-webfont.eot');
    src: url('/font/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/opensans-bold-webfont.woff') format('woff'),
         url('/font/opensans-bold-webfont.ttf') format('truetype'),
         url('/font/opensans-bold-webfont.svg#webfont') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: 'Open Sans';
    src: url('/font/opensans-italic-webfont.eot');
    src: url('/font/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/opensans-italic-webfont.woff') format('woff'),
         url('/font/opensans-italic-webfont.ttf') format('truetype'),
         url('/font/opensans-italic-webfont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face{
    font-family: 'Open Sans';
    src: url('/font/opensans-bolditalic-webfont.eot');
    src: url('/font/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/opensans-bolditalic-webfont.woff') format('woff'),
         url('/font/opensans-bolditalic-webfont.ttf') format('truetype'),
         url('/font/opensans-bolditalic-webfont.svg#webfont') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face{
    font-family: 'Open Sans Semibold';
    src: url('/font/opensans-semibold-webfont.eot');
    src: url('/font/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/opensans-semibold-webfont.woff') format('woff'),
         url('/font/opensans-semibold-webfont.ttf') format('truetype'),
         url('/font/opensans-semibold-webfont.svg#webfont') format('svg');
}

@font-face{
    font-family: 'Ubuntu Mono';
    src: url('/font/ubuntumono-r-webfont.eot');
    src: url('/font/ubuntumono-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/ubuntumono-r-webfont.woff') format('woff'),
         url('/font/ubuntumono-r-webfont.ttf') format('truetype'),
         url('/font/ubuntumono-r-webfont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Ubuntu Mono';
    src: url('/font/ubuntumono-b-webfont.eot');
    src: url('/font/ubuntumono-b-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/ubuntumono-b-webfont.woff') format('woff'),
         url('/font/ubuntumono-b-webfont.ttf') format('truetype'),
         url('/font/ubuntumono-b-webfont.svg#webfont') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: 'Ubuntu Mono';
    src: url('/font/ubuntumono-ri-webfont.eot');
    src: url('/font/ubuntumono-ri-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/ubuntumono-ri-webfont.woff') format('woff'),
         url('/font/ubuntumono-ri-webfont.ttf') format('truetype'),
         url('/font/ubuntumono-ri-webfont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face{
    font-family: 'Ubuntu Mono';
    src: url('/font/ubuntumono-bi-webfont.eot');
    src: url('/font/ubuntumono-bi-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/ubuntumono-bi-webfont.woff') format('woff'),
         url('/font/ubuntumono-bi-webfont.ttf') format('truetype'),
         url('/font/ubuntumono-bi-webfont.svg#webfont') format('svg');
    font-weight: bold;
    font-style: italic;
}
